body {
    background-color: #ccc;
    /*
    background-image: url('../img/wall.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: right bottom;
    */
    color: black;
}

#caja {
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(71, 108, 165);
    color: white;

    font-family: 'Open Sans';
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    vertical-align: top;

    word-spacing: 10px;
    letter-spacing: 5px;
}

h2 {
    color: red;
    background: white;
    background-image: url('../img/pattern2.jpg');
    border: 5px solid red;
}
